# langchain
# langchain-core
# langchain-community
# langchain-google-genai

# pydantic
# pydantic_core

# chromadb==0.5.0
# tiktoken
# python-dotenv
# streamlit

langchain==0.2.10
langchain-community==0.2.10
langchain-core==0.2.23  # <-- CHANGED THIS LINE (from 0.2.22)
pydantic>=2.7.4,<3.0.0
tiktoken
faiss-cpu
fastapi
uvicorn
python-dotenv
langchain-google-genai
pypdf